{% extends './base.html' %}

{% block content %}
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id">{{user}}</span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script>
        //var client_id = Date.now()
        //var client_id = {{user_id}}
        // var client_username = {{uesr}}
        var client_username = document.querySelector("#ws-id").textContent ;
        //alert(client_username)
        var ws = new WebSocket('ws://192.168.1.101:8000/' + client_username + '/ws?');
        ws.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
        };
        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
{% endblock content %}